body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: green;
}

.box3 {
    background-color: blue;
}

.nova-classe1 {
    background-color: yellow;
}

.nova-classe2 {
    background-color: purple;
}

.nova-classe3 {
    background-color: orange;
}
